@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');

:root{
    --main-font:'monstrrat',sans-serif;
    --header-font:'fraunces',sans-serif;
}

body{
    background-color: hsl(30, 38%, 92%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 710px;
}
.preview-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    height: 640px;
    width: 85vw;
}
.image img{
    width: 85vw;
    border-radius: 10px 10px 0 0;
}
.head{
    width: 300px;
}
.head-label{
    font-size: .7em;
    font-family:var(--main-font);
    letter-spacing: 4.4px;
    text-transform:uppercase;
    opacity: 75%;
    margin: 20px 0;
}
.head-name{
    font-family: var(--header-font);
    font-size: 2.1em;
    margin: -15px 0 0 0;
    color: hsl(212, 21%, 14%);
}
.product-info{
    font-size: .9em;
    font-weight: 200;
    letter-spacing: .3px;
    opacity: 75%;
    line-height: 20px;
}
.head-name span{
    display: block;
}
.product-info span{
    display:block;
}

.price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.descounted-price{
    font-family: var(--header-font);
    color:  hsl(158, 36%, 37%);;
    font-size: 2em;
}
.actual-price{
    font-size: .9em;
    text-decoration:line-through;
    opacity: 70%;
}
.add-cart{
    width: 300px;
    height: 55px; 
    border-radius:10px;
    border: none;
    background-color:  hsl(158, 36%, 37%);
    color: white;
    font-weight: 600;
    font-size: 1em;

}
.add-cart:active{
    background-color:#1a4031 ;
}
.add-cart img{
    width: 15px;
    padding-right: 10px;
}


@media screen and (min-width:540px) {
    
    .preview-card{
        flex-direction: row;
        height: 430px;
        width: 600px;
        border-radius: 10px;
    }

    .image{
        border-radius: 10px 0 0 10px ;
        width:330px;
        height: 430px;
        background:url(/images/image-product-desktop.jpg) no-repeat;
        background-size: contain;

    } 
    .head-name{
        width: 250px;
    }
    .product-info{
        width: 250px;;
    }
    .image img{
        display: none;
    }
    .price{
        margin: -20px 0 0 0;
    }
    .card{
        width: 200px;
    }
    .add-cart{
        width: 240px;
        height: 45px;
        font-size: .89em;
        text-align: center;
    }
    .add-cart:hover{
        cursor: pointer;
        background-color: #1a4031;
    }
}